*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background: rgb(230, 221, 187);
    height: 80px;
    width: 100%;
}
label.logo{
    color: darkblue;
    font-size: 25px;
    padding: 0 90px;
    line-height: 90px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 15px;
    
}
nav ul li a{
    color: darkgreen;
    font-size: 20px;
    padding: 7px 12px;
    border-radius: 4px;
    text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover{
    background: burlywood;
    transition: 1s;
}

.heading{
    padding-top: 150px;
    text-align: center;
}
.heading h1{
    padding-top: 50px;
    font-size: 60px;
    color: cadetblue;
    font-weight: bold;
    text-transform: uppercase;

}

.sec{
    margin: 0 80px;
    margin-top: 50px;
    text-align: justify;
    padding-bottom: 150px;
}
.sec p{
    padding-top: 50px;
    font-size: 25px;
    color: slategrey;
}